@charset "ISO-8859-1";

@charset "ISO-8859-1";

@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

@font-face {
	font-family: NexaRust;
	font-weight: bold;
	src: url("/resources/static/fonts/NexaRustSlab-BlackShadow01.otf")
		format("opentype");
}

.font {
	font-family: NexaRust;
}
body {background-color: rgba(149,210,229,255);}


#episodescroll {
	height: auto;
	width: 100%;
	margin: -10;
	padding: -10;
}

a {
color: black;

}

.pagefont{
font-family: 'Anton', sans-serif;
}

.background {
	background: url("/resources/static/img/tempus3.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 1800px;
	font-family: NexaRust;
}

.my-custom-scrollbar {
	border: none;
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 800px;
	overflow: auto;
	width:100%;
}
.table {
	background-color:rgba(169,199,202,0.6);
	height: auto;
	width: 100%;
	margin: -10;
	padding: -10;
}

.table-wrapper-scroll-y {
	display: block;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}
footer {
text-align: center;

}