@charset "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

@font-face {
	font-family: NexaRust;
	font-weight: bold;
	src: url("/resources/static/fonts/NexaRustSlab-BlackShadow01.otf")
		format("opentype");
}

.pagefont{
font-family: 'Anton', sans-serif;
}

.font {
	font-family: NexaRust;
}

.background {
	background: url("/resources/static/img/tumblr_osxaetFVh91tt323xo3_1280.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;

}

footer {
text-align: center;
background: rgba(0, 0, 0, 0.0)
}



.table {
	background-color:rgba(192,214,216,0.6);

}

a {
color: black;

}

.my-custom-scrollbar {
	border: none;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 600px;
	overflow: auto;
}

#epdescription {
	background-color:rgba(192,214,216,0.6);
	height: auto;
	width: 100%;
	margin: -10;
	padding: -10;
}


#commentBox {
    display: none;
}

#buzzsprout-large-player {
	display: none;
}


