@charset "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

@font-face {
	font-family: NexaRust;
	font-weight: bold;
	src: url("/resources/static/fonts/NexaRustSlab-BlackShadow01.otf")
		format("opentype");
}
.pagefont{
font-family: 'Anton', sans-serif;
}

.font {
	font-family: NexaRust;
}
body{

}

.sidebar {
height: 100%;
width: 250px;
position: absolute;
left: 0;
top: 0;
padding-top: 75px;
background-color: lightblue;
border-right: 5px solid black;

}
p{
text-align: center;
}

.sidebar div {
font-size: 40px;
padding: 8px;
font-size: 24px;
display: block;
}

.body-text {
background-image: url("/resources/static/img/il_794xN.2348104648_7r0h.jpg");
height: 100%;
margin-left: 250px;

top: 0px;
  background-repeat: no-repeat;
  background-size: cover;

}
#comments{

align: right;
margin-left: 250px;
padding-top: 75px;

}
#favorites{


align: right;
margin-left: 250px;
padding-top: 50px;


}
.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}